@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Smooch+Sans:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
    --color-midnight-burple: #100429;
    --color-evening-burple: #4A2574;
    --color-afternoon-burple: #7338A0;
    --color-morning-burple: #924DBF;
    --color-sunrise-burple: #9E72C3;
    --color-stelar-magenta: #FF34E1;

    --font-orbitron: Orbitron, "sans-serif"
}

@layer components{
    .side-button{
        @apply bg-linear-to-t from-evening-burple to-afternoon-burple md:w-32 h-12 justify-center items-center hidden md:flex rounded-md font-orbitron text-white cursor-pointer shadow-md shadow-midnight-burple border-evening-burple border-4 md:-mb-2 lg:mb-0;
    }
    .side-hover{
        @apply hover:bg-linear-to-t hover:from-midnight-burple hover:to-evening-burple hover:border-2 hover:border-white transition-all delay-[0.01s];
    }/*Alterações feitas para o mobile sempre ficam FIRST em cima*/
    .side-navbar{
        @apply sticky top-0 h-24 md:h-auto w-full flex justify-center items-center bg-linear-to-t from-midnight-burple to-evening-burple p-3 pl-20 border-sunrise-burple border-b-2 z-8;
        
        /*Flex wrap gera uma quebra de elemento caso eles não tenham espaço na tela (Alternativa para grid)*/

        @apply md:h-screen md:w-44 md:flex md:flex-col md:justify-center md:text-center md:items-center md:gap-5 md:border-r-2 md:border-sunrise-burple md:bg-linear-to-t md:from-midnight-burple md:to-evening-burple md:pl-0 md:border-b-0;
    }
    .menuText{
        @apply flex text-white md:hidden font-orbitron text-4xl tracking-[1rem];
    }
    .wrapperConteudo{
        @apply flex md:flex-row flex-col-reverse w-full justify-around;
    }

    .conteudo{
        @apply flex w-[75%] md:w-[35%] min-h-0 md:h-[35%] items-center justify-center mt-[6%] mx-auto
        border-4 border-sunrise-burple rounded-xl;

        animation: float 10s ease-in-out infinite;
    }
    .heisenberg{
        @apply md:w-[35%] cursor-pointer select-none;
    }

    .wrapperBurguer{
        @apply bg-afternoon-burple
    }

    .burguerItem{
        @apply py-2 text-center font-orbitron text-white border-b-2 border-sunrise-burple bg-linear-to-t from-midnight-burple to-evening-burple tracking-[0.4rem] cursor-pointer
    }

    .clicker{
        @apply w-screen fixed z-30 h-23 md:hidden top-0 cursor-pointer
    }

    .aClickArea{
        @apply flex justify-center h-full w-full items-center
    }
}
@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  ::-webkit-scrollbar {width: 0.4rem;

  }
  
  ::-webkit-scrollbar-track {background-color: #202020;border-radius: 2px;
  
  }
  
  ::-webkit-scrollbar-thumb {background-color: #9E72C3;border-radius: 2px;
  
  }

  /*Paginas extras*/

  .navPages{
    @apply w-full h-[10vh] md:h-[17vh] flex items-center justify-between border-sunrise-burple bg-linear-to-t from-midnight-burple to-evening-burple border-b-2
}
.pulseText{
    @apply text-center w-full py-5 text-white text-2xl md:text-4xl font-orbitron p-4 tracking-[0.6rem] text-shadow-afternoon-burple text-shadow-lg animate-pulse
}
.titleText{
    @apply text-white text-3xl md:text-6xl font-orbitron tracking-[0.6rem] text-shadow-morning-burple text-shadow-lg
}
.titleTextSmall{
    @apply text-white text-3xl md:text-6xl font-orbitron tracking-[0.2rem] text-shadow-morning-burple text-shadow-lg
}
.cardWrapper{
    @apply max-w-72 bg-linear-to-t from-midnight-burple to-evening-burple border-b-2 p-1 flex flex-col rounded-2xl border-3 border-sunrise-burple hover:border-white hover:border-4 transition-all delay-[0.01s] hover:max-w-74 font-orbitron text-white
}
.cardTitle{
    @apply text-center text-3xl text-shadow-morning-burple text-shadow-lg py-2 border-b-2 border-t-2 border-sunrise-burple
}
.cardDesc{
    @apply text-center text-xl text-shadow-morning-burple text-shadow-lg
}

.clickerCard{
    @apply w-full z-20 cursor-pointer
}

.mainWrapper{
    @apply h-auto w-full flex flex-wrap p-2 gap-12 items-center justify-center pb-20
}
.footer{
    @apply w-full bg-evening-burple flex text-white font-orbitron text-sm border-t-2 border-morning-burple
}
/*@apply aplica as classes auxiliares do tailwinf, sem ela, o código será identificado como css padrão*/